Unit_20_Tableau
Melissa_Morgan

In [1]:
import pandas as pd
import os

In [2]:
# Load the csv files
file01 = "201801-citibike-tripdata.csv"
file02 = "201802-citibike-tripdata.csv"
file03 = "201803-citibike-tripdata.csv"
file04 = "201804-citibike-tripdata.csv"
file05 = "201805-citibike-tripdata.csv"
file06 = "201806-citibike-tripdata.csv"
file07 = "201807-citibike-tripdata.csv"
file08 = "201808-citibike-tripdata.csv"
file09 = "201809-citibike-tripdata.csv"
file10 = "201810-citibike-tripdata.csv"
file11 = "201811-citibike-tripdata.csv"
file12 = "201812-citibike-tripdata.csv"

In [3]:
# Read files and store them into Pandas data frame
jan = pd.read_csv(file01)
feb = pd.read_csv(file02)
mar = pd.read_csv(file03)
apr = pd.read_csv(file04)
may = pd.read_csv(file05)
jun = pd.read_csv(file06)
jul = pd.read_csv(file07)
aug = pd.read_csv(file08)
sep = pd.read_csv(file09)
octo = pd.read_csv(file10)
nov = pd.read_csv(file11)
dec = pd.read_csv(file12)

In [4]:
df = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec])

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [6]:
sample_df = df.sample(n=350000)

In [7]:
sample_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1714086,145,2018-06-17 15:52:11.8130,2018-06-17 15:54:37.2610,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,27428,Subscriber,1989,1
30040,141,2018-05-22 11:59:04.0140,2018-05-22 12:01:25.3260,146.0,Hudson St & Reade St,40.716250,-74.009106,79.0,Franklin St & W Broadway,40.719116,-74.006667,28477,Subscriber,1966,1
985824,404,2018-09-17 09:10:55.6120,2018-09-17 09:17:40.1690,3113.0,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3119.0,Vernon Blvd & 50 Ave,40.742327,-73.954117,33797,Subscriber,1986,2
378401,727,2018-03-22 17:04:46.8900,2018-03-22 17:16:54.3100,457.0,Broadway & W 58 St,40.766953,-73.981693,3255.0,8 Ave & W 31 St,40.750585,-73.994685,31122,Subscriber,1978,1
514029,1615,2018-06-15 20:38:28.1800,2018-06-15 21:05:23.2820,387.0,Centre St & Chambers St,40.712733,-74.004607,232.0,Cadman Plaza E & Tillary St,40.695977,-73.990149,18074,Customer,1969,0

In [8]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350000 entries, 1714086 to 683095
Data columns (total 15 columns):
tripduration               350000 non-null int64
starttime                  350000 non-null object
stoptime                   350000 non-null object
start station id           349955 non-null float64
start station name         349955 non-null object
start station latitude     350000 non-null float64
start station longitude    350000 non-null float64
end station id             349955 non-null float64
end station name           349955 non-null object
end station latitude       350000 non-null float64
end station longitude      350000 non-null float64
bikeid                     350000 non-null int64
usertype                   350000 non-null object
birth year                 350000 non-null int64
gender                     350000 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 42.7+ MB

In [9]:
sample_df.to_csv("sample_citibike_tripdata_2018.csv", index=False)